  body,
  html {
      height: 100%;
      margin: 0;
      padding: 0;
  }



  .text-purple-300 {
      color: #d0bfff !important;
  }

  .text-purple-700 {
      color: #7d3c98 !important;
  }

  .bg-custom {
      background-color: #a569bd;
      min-height: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .card-custom {
      background-color: #d0bfff;
      color: #7D2181;
      border: 1px solid #555;
  }

  .card-footer-custom {
      background-color: #444;
  }

  .btn-outline-purple {
      color: #7d3c98 !important;
      border: 2px solid #7d3c98 !important;
      background-color: transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;

      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

  .btn-outline-purple:hover {
      color: #fff !important;
      background-color: #7d3c98;
      border-color: #7d3c98;
  }

  .btn-outline-purple:focus,
  .btn-outline-purple:active {
      color: black !important;
      background-color: #7d3c98;
      border-color: #7d3c98;
      box-shadow: 0 0 0 0.2rem rgba(125, 60, 152, 0.5);
  }